body{
    display: flex;
    justify-content: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 4, 4);
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 70px;
    align-items: center;
    padding: 40px;

    border-radius: 15px;
}
container.input{
    width: 100px;
    height: 100px;
}
input{

    text-align: center;
    font-weight: bolder;
    border-radius: 10px;}



.jogo input{

    width: 180px;
    height: 195px;
    transition: 1s;
    font-size: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;

}

.jogo input:hover{

     background-color: blue;
     color: rgb(255, 255, 255);
     width: 181px;
     height: 195px;

}


.resultados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultados input{

    width: 660px;
    font-size: 118px;
    margin: 0cm;
    padding: 5px;
}
.resultados input:hover{

    width: 662px;
    font-size: 120px;

}