body{
    display: flex;
    justify-content: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 50px;
    align-items: center;
    padding: 40px;
    padding-bottom: 80px;
    border-radius: 15px;
}

input{
    min-width: auto;
    margin: 20px;
    height: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    border-radius: 10px;}

#b1{
    width: 100px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;

    background-color: rgb(255, 255, 255);
    color: rgb(104, 4, 4);
}

#b1:hover{
    background-color: rgb(104, 4, 4);
    color: rgb(255, 255, 255);
}

#saida{
    width: 50%;
    color: #000;
    font-size: 35px;
    background-color: aliceblue;
    border-radius: 10px;

}